.features{
    background-color: #012e5c;
    height: 100vh;
    width: 100wh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    font-family: "Roboto", sans-serif;
    color: aliceblue;
}

.features__title{
    font-size: 3rem;
    padding-top: 2rem;
}

.features__container{
    margin-bottom: 5rem;
    padding: 1rem 5rem;
    gap: 5rem;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: aliceblue;
    
    justify-items: center;
    align-items: center;
    text-align: center;
}

.features__img{
    height: 120px;
    width: 120px;
    padding-bottom: 2rem;
    color: aliceblue;
    fill: currentColor;
}

.features__container-item{
    border-radius: 20px;
    padding: 2rem;
}


.features__container-item:hover{
    background-color: rgba(255, 0, 0, 0.801);
    border-radius: 20px;
    padding: 2rem;
    transition: color 0.s ease;
}

